#albumentations: tested on 0.4.6
pip install -U git+https://github.com/albumentations-team/albumentations
#iglovikov_helper_functions: tested on 0.0.40  
pip install -U git+https://github.com/ternaus/iglovikov_helper_functions
#segmentation_models.pytorch 0.1.0
pip install git+https://github.com/qubvel/segmentation_models.pytorch
#pytorch_toolbelt
pip install pytorch_toolbelt
#torch
pip install torch torchvision
#pytorch-lightning
pip install pytorch-lightning
#neptune client
pip install neptune-client
#apex
git clone https://github.com/NVIDIA/apex
cd apex
# !pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" ./
pip install -v --no-cache-dir ./
cd ..